.cricd-navbar-subtitle {
    color: white;
    font-weight: 500;
    font-size: 1em;
    margin: auto;   
    @media(max-width: 30em) { display: none; }
}

.cricd-navbar-cricdIcon {
    color:#FFFFFF;
    fill:#FFFFFF;
    fill-opacity:1;
    fill-rule:nonzero;
    stroke:none;
    stroke-width:2;
    marker:none;
    visibility:visible;
    display:inline;
    overflow:visible;
    enable-background:accumulate
}