.cricd-bowlingCard-bowler {
    width: 20%;
    @media(max-width: 48em) { width: 40%; }

}

.cricd-bowlingCard-metric {
    @media(max-width: 48em) { width: 20%; }
}

.cricd-bowlingCard-collapsible {
    @media(max-width: 48em) { display: none; }
}