.cricd-innings {
    border-left-color: lightblue;
    border-left-width: 5pt;
    border-left-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}

.cricd-innings-teamName {
    font-weight: bold;
    font-size: 1.5em;
}

.cricd-innings-label {
    margin-top: -10px;
}