@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

* {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, sans-serif !important;
   box-sizing: border-box !important
}

@keyframes shimmer {
            0% {
                background-position: -450px 0
            }
            100% {
                background-position: 450px 0
            }
        }

@keyframes pulse {
              0% {
                background-color: lightgrey;
                color: lightgrey;
                opacity: 0.2;
                border-radius: 5px;
            }
            100% {
                background-color: lightgrey;
                color: lightgrey;
                opacity: 0.8;
                border-radius: 5px;
            }
}

body {
  line-height: 1.5;
  color: #111;
  background-color: #fff;
  margin:0px auto;
}

.container {
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px
}