@import '../../../Shared/App/App.scss';

.text {
  font-family:  'Lato', sans-serif;
  color: $color1;
}

.overAndBall {
  font-size: 1.5ex;
  margin-right: 5px
}

.bowlerToBatsman {
  font-size: 1.5ex;
  margin-right: 5px
}
