@import '../../../Shared/App/App.scss';

.text {
  font-size: 1.5ex;
}

.overAndBall {
  @extend .text;
  margin-right: 5px;
}

.bowlerToBatsman {
  @extend .text;
  font-size: 1.5ex;
  margin-left: 10px;
}

.commentary {
  @extend .text;
  margin-left: 10px;
}