@import '../../../Shared/App/App.scss';

.overAndBall {
  margin-right: 5px;
}

.bowlerToBatsman {
  min-width: 15%;
  max-width: 350px;
  margin-left: 10px;  
  @media(max-width: 30em) { display: none; }
}

.commentary {
  margin-left: 10px;
  flex: 1 1 auto;
}

.innings {
  @media(max-width: 48em) { display: none; }
}