/* RGB */
$color1: rgba(80, 81, 79, 1);
$lightGrey: rgba(240,240,240,0.8);
$headerText: rgba(242, 95, 92, 1);
$color3: rgba(255, 224, 102, 1);
$color4: rgba(36, 123, 160, 1);
$color5: rgba(112, 193, 179, 1);

@import url('https://fonts.googleapis.com/css?family=Lato');

.navBar {
    background-color: $lightGrey;
    color: $headerText;
    padding: 5px;
    margin: 0px;
    height: 50px;
    font-size: 0.6em;
    font-family: 'Lato', sans-serif;
    width: 100%;
    margin:auto;
    text-transform: uppercase;
}