.scoreMatch {
    margin-left: 10px;
    padding: 10px;
    border-left-color: #00BCD4;
    border-left-width: 5pt;
    border-left-style: solid;
}

.scoreMatch-pickers {
    display: flex;
    flex: auto;
}
