.scoreMatch {
    margin-left: 5px;
    padding-left: 10px;
    border-left-color: #00BCD4;
    border-left-width: 5pt;
    border-left-style: solid;
}

.scoreMatch-ball {
    padding: 10px;
}

.scoreMatch-inningsStats {
    margin-left: -5px;
    @media(max-width: 30em) { display: none; }
}
