@import "../Shared/App/App.scss";

.cricd-scoreMatch-scoreSentence {
    display:flex;
    padding: 10px 15px 10px 15px;
    flex-direction: row
}

.cricd-scoreMatch-scoreSentenceItem {
    margin: 10px 10px 10px 10px;
    align-self: center;
}

.cricd-scoringGrid {
    max-width: 800px
}