.matchResult {
    margin: 5px;
    font-weight: bold;
    font-size: 1.1em;
    &.loading {
        width: 250px;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: pulse;
        animation-timing-function: linear;
        animation-direction: alternate;
        animation-duration: 1s;
        margin: 10px;
    }
}