$color1: rgba(80, 81, 79, 1);
$lightGrey: rgba(240,240,240,0.8);
$headerText: rgba(242, 95, 92, 1);
$color3: rgba(255, 224, 102, 1);
$color4: rgba(36, 123, 160, 1);
$color5: rgba(112, 193, 179, 1);


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
