.cricd-inningsStats {
    border-left-color: #00BCD4;
    border-left-width: 5pt;
    border-left-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}

.cricd-inningsStats-teamName {
    font-weight: bold;
    font-size: 1.5em;
}

.cricd-inningsStats-label {
    margin-top: -10px;
}