* { box-sizing: border-box}
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


$primaryColour: rgb(0, 136, 238);
// $secondaryColour: 
// $tertiaryColour: 

body {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  color: #111;
  background-color: #fff;
  margin:0px auto;
}

.container {
}